mixin rangeSlider(options)
    .elements__field-header(class=options.width)
        h3 #{options.headerTitle}
        h3#result.elements__field-header_color_light
    div(class=options.width id='range')
