mixin color-row(options)
    .two-columns__color-row
        div(class='two-columns__color-block ' + options.className)
        h2.two-columns__color-title #{options.title}
        p.two-columns__color-name #{options.name}