mixin comment(options)
    img.user-avatar(src=require('@components/comment/img/' + options.urlImg))
    .comment-info
        .comment-info__user-name #{options.name}
        .comment-info__written #{options.written}
    .input-like
        +likeButton( {inputValue: 'like', inputChecked: options.inputChecked} )
    
    .comment-text #{options.text}
