@import "./../components/color-block/color-block";

.two-columns {
    max-width: (1132px/1440px)*100%;
    margin-left: (150px/1440px)*100%;
    margin-right: (158px/1440px)*100%;
}

.two-columns__column-colors {
    max-width: 290px;
    display: grid;
    grid-row-gap: (20px/$main-font-size)*1rem;
}
