extends ./../utils/base

block variables
    - var title = 'Toxin - uikit (colors and type)';
    - var description = 'Подготовка базовых элементов';

block content
    .content-wrapper
        .content-wrapper__logo
            +logo()